@import "tailwindcss";

/* dark を class ベースにする */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

/* スクロールバーオフ */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}